{% comment %} <html>
    <head>
        <title>Running a Python script</title>
        <?PHP
        echo shell_exec(".py");
        ?>
        </head>
    <body>
        <!-- BODY -->
    </body>
</html> {% endcomment %}