body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    height: 100vh;
}

#display_image{
    width: 128px;
    height: 128px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}