<html>
  <head>
     <title> Django image and file upload using ajax </title>
  </head>
<body>
   {% comment %} <form enctype="multipart/form-data" id="id_ajax_upload_form" method="POST" novalidate=""> {% endcomment %}
      {% csrf_token %}
      {{ form.as_p }}
   <input name="progressbarTW_img" type="file" id="id_ajax_upload_form" accept="image/gif, image/jpeg, image/png"/ >
   <div id="demo">
    <button type="button" onclick="runpy()">Change Content</button>
  </div> 
   <form action="/somewhere/to/upload" enctype="multipart/form-data" method="POST" novalidate="">
   {% comment %} <input name="progressbarTW_img" type="file" id="id_ajax_upload_form" accept="image/gif, image/jpeg, image/png"/ > {% endcomment %}
   <img id="id_ajax_upload_form" src="#" />
     
     </form>
   </form>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script type="text/javascript">
   <script src = "script.js">
    // form upload
    $('#id_ajax_upload_form').submit(function(e){
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: formData,
            success: function (response) {
                $('.error').remove();
                console.log(response)
                if(response.error){
                    $.each(response.errors, function(name, error){
                        error = '<small class="text-muted error">' + error + '</small>'
                        $form.find('[name=' + name + ']').after(error);
                    })
                }
                else{
                    alert(response.message)
                    window.location = ""
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
        $("#id_ajax_upload_form").change(function(){
            //當檔案改變後，做一些事 
           readURL(this);   // this代表<input id="imgInp">
           });
           
        function readURL(input){
            if(input.files && input.files[0]){
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#preview_progressbarTW_img").attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        } 
    });
    // end
   </script>
   <script>
  

   </script>
</body>
</html>

