<html>
  <head>
     <title> Django image and file upload using ajax </title>
  </head>
<body>
   <form enctype="multipart/form-data" id="id_ajax_upload_form" method="POST" novalidate="">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-primary" role="button"/>
      
      <form action="/somewhere/to/upload" enctype="multipart/form-data">
      <input name="progressbarTW_img" type="file" id="imgInp" accept="image/gif, image/jpeg, image/png"/ >
      <img id="preview_progressbarTW_img" src="#" />
      <a class="btn btn-primary" href='http://127.0.0.1:8000/'' role="button">回首頁</a>
     </form>
   </form>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script type="text/javascript">
   <script src = "script.js">
    // form upload
    $('#id_ajax_upload_form').submit(function(e){
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: formData,
            success: function (response) {
                $('.error').remove();
                console.log(response)
                if(response.error){
                    $.each(response.errors, function(name, error){
                        error = '<small class="text-muted error">' + error + '</small>'
                        $form.find('[name=' + name + ']').after(error);
                    })
                }
                else{
                    alert(response.message)
                    window.location = ""
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
    // end
   </script>
   <script>
   $("#imgInp").change(function(){
    //當檔案改變後，做一些事 
   readURL(this);   // this代表<input id="imgInp">
   });
   
   function readURL(input){
    if(input.files && input.files[0]){
        var reader = new FileReader();
        reader.onload = function (e) {
            $("#preview_progressbarTW_img").attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }
   </script>
</body>
</html>

